html, body, main {
    background-color: #F0EFF2;
}

.app {
    max-width: 1540px;
}

.header {
    height: 82px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    background: black;
}

.header-link {
    margin-left: 40px;
}

.header-nav {
    display: flex;
}

.header-nav__item {
    list-style: none;
    margin-right: 30px;
}

.header-nav__link {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
}

.logout-button {
    border: none;
    background: none;
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
}

@media screen and (max-width: 850px) {
    .header {
        height: 60px;
    }

    .header-link {
        width: 25%;
        margin-left: 10px;
    }

    .header-img {
        width: 100%;
    }

    .header-nav__item {
        margin-right: 20px;
    }

    .header-nav__link,
    .logout-button {
        font-size: 18px;
    }
}