.verify-page {
    width: 80%;
    margin: 80px auto;
    text-align: center;
}

.verify-message,
.completion-message {
    margin-bottom: 50px;
    font-size: 24px;
}

.verify-link {
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #000000;
    border-radius: 10px;
    background: #D9D9D9;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}

.verify-form {
    margin: 50px;
}

.verification-mail__button {
    margin: 0 auto;
    border: none;
    background: none;
    font-size: 20px;
    color: #0073CC;
}

@media screen and (max-width: 850px) {
    .verify-message,
    .completion-message {
        font-size: 20px;
    }

    .verification-mail__button {
        font-size: 18px;
    }
}